# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output do go coverage
test.out
*.out

# Go modules e workspace
/go.work
/go.work.sum

# Diretórios de dependências
vendor/

# Arquivos de ambiente
.env

# Arquivos temporários e de build
*.log
*.tmp
*.swp

# Dependências nativas do confluent-kafka-go
*.a
*.o
*.c
*.h

# IDEs e editores
.vscode/
.idea/
*.code-workspace
